@charset "utf-8";
/* CSS Document */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Microsoft YaHei";
}
html,
body {
  height: 100%;
}
ol,
ul {
  list-style: none;
}
input,
select,
form images,
button {
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
textarea {
  width: 95%;
}
a {
  color: #000;
  text-decoration: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
img {
  border: none;
}
input,
img {
  vertical-align: middle;
}
body {
  color: #000;
  font-family: "Microsoft YaHei";
  background: #f1f1f1;
  overflow-x: hidden;
}
/* 头部区域 */
#header {
  background-color: #ff841d;
  height: 50px;
  padding: 10px;
}
#header > .logo > img {
  height: 25px;
}
#header > .app {
  float: right;
}
#header > .app > img {
  height: 34px;
}
/* 搜索区域 */
#search {
  padding: 10px;
  background-color: #fff;
}
#search > form {
  padding-right: 70px;
  position: relative;
}
#search > form > input {
  border-radius: 15px;
  height: 30px;
  border: none;
}
#search > form > input[type="search"] {
  width: 100%;
  background: #f1f1f1;
  padding-left: 20px;
}
#search > form > input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  background: #ff841d;
  color: #fff;
  width: 63px;
}
/* 尾部区域 */
#footer {
  width: 100%;
  background-color: #fff;
}
#footer > .row {
  display: flex;
}
#footer > .row > div {
  flex: 1;
  text-align: center;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
}
#footer > .row > div > a > img {
  height: 15px;
  width: 15px;
}
#footer > p {
  margin: 10px;
  text-align: center;
  font-size: 12px;
}
#footer > p > a:first-child {
  color: red;
}
.title_header {
  background-color: #ff841d;
  height: 50px;
  padding: 10px;
}
.brandList .product-title {
  position: relative;
  font-size: 14px;
}
.brandList .product-title .breadcrumb {
  padding: 5px 0 10px 10px;
  overflow: hidden;
}
.brandList .product-title .breadcrumb li {
  float: left;
  margin-right: 10px;
}
.brandList .product-title a {
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  top: 2px;
  right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}
.brandList .category-list .hd {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #874604;
  padding: 10px;
  font-size: 12px;
}
.brandList .category-list .brand-list .category-title {
  width: 100%;
}
.brandList .category-list .brand-list .category-title li {
  background-color: #fff;
}
.brandList .category-list .brand-list .category-title li a {
  display: block;
  overflow: hidden;
  padding: 10px 0 20px 5px;
  font-size: 14px;
}
.brandList .category-list .brand-list .category-title li a em {
  float: left;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #c9c9c9;
  color: #FFFFFF;
  line-height: 20px;
  vertical-align: top;
  margin: 0 10px 0 0;
  font-size: 14px;
}
.brandList .category-list .brand-list .category-title li a .top1 {
  background: #f10e0e;
}
.brandList .category-list .brand-list .category-title li a .top2 {
  background: #ff9314;
}
.brandList .category-list .brand-list .category-title li a .top3 {
  background: #8adf5b;
}
.brandList .category-list .brand-list .category-title li a .inner {
  float: left;
}
.brandList .category-list .brand-list .category-title li a .inner p {
  color: #999;
  margin-top: 5px;
}
.brandList .category-list .product-list .media {
  display: flex;
  padding: 10px;
  background-color: #fff;
}
.brandList .category-list .product-list .media .media-left {
  width: 100px;
}
.brandList .category-list .product-list .media .media-body {
  flex: 1;
  margin-left: 10px;
}
.brandList .category-list .product-list .media .media-body a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}
.brandList .category-list .product-list .media .media-body a div {
  flex: 1;
}
.brandList .category-list .product-list .media .media-body a .media_body_title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.brandList .category-list .product-list .media .media-body a .price {
  margin-bottom: 10px;
}
.brandList .category-list .product-com {
  padding: 10px;
  background-color: #fff;
}
.brandList .category-list .product-com .protit {
  display: flex;
}
.brandList .category-list .product-com .protit .protit_IMG {
  width: 100px;
}
.brandList .category-list .product-com .protit .protit_title {
  flex: 1;
  color: #999999;
  font-size: 14px;
  padding-left: 10px;
}
