* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  max-width: 640px;
}
.header {
  width: 100%;
  height: 50px;
  background-color: #ff7b00;
  padding: 16px 10px 5px 10px;
}
.main {
  width: 100%;
  border: none;
  padding: 0 15px;
}
.main .container {
  width: 100%;
  background-color: #ffffff;
}
.main .container .title {
  margin: 0;
  font-size: 19px;
  padding: 15px 10px 5px 10px;
}
.main .container .small_title {
  font-size: 12px;
  margin: 12px 0;
  padding-left: 20px;
  color: #999999;
}
.main .container .container_img {
  width: 100%;
  overflow: hidden;
}
.main .container .container_img > #lg_img {
  float: left;
  display: block;
  width: 350px;
  height: 350px;
}
.main .container .container_img > #lg_img > img {
  display: block;
  width: 350px;
  height: 350px;
}
.main .container .container_img > .right_img {
  float: right;
  flex: 1;
  width: 120px;
  height: 120px;
}
.main .container .container_img > .right_img > img {
  display: block;
  width: 120px;
  height: 120px;
  padding: 10px;
}
.main .container .btn_buy {
  float: left;
  width: 100%;
  height: 30px;
  margin: 40px 0;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
.main .container .btn_buy > a {
  display: block;
  width: 95%;
  height: 100%;
  margin-left: 15px;
  background-color: orange;
  border-radius: 5px;
}
.main .comment {
  width: 100%;
  height: 22px;
  padding: 6px 8px;
}
.main .int {
  position: relative;
}
.main .int > .comment_btn {
  position: absolute;
  bottom: 20px;
  right: 0;
}
.main .int > .comment_btn > .tjdp {
  width: 100px;
  height: 40px;
  font-size: 16px;
  background-color: orange;
  border: none;
}
.main .newcomment {
  width: 100%;
  height: 22px;
  padding: 6px 8px;
}
.main .comment_list {
  width: 100%;
}
.main .comment_list li {
  list-style: none;
  padding: 18px 10px;
  width: 100%;
  height: 80px;
}
.main .comment_list li .userimg {
  width: 40px;
  height: 40px;
  float: left;
}
.main .comment_list li .userimg img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.main .comment_list li .name {
  overflow: hidden;
  padding-left: 10px;
}
.main .comment_list li .name .username {
  float: left;
  color: skyblue;
}
.main .comment_list li .name .time {
  float: right;
  color: #999999;
}
.main .comment_list > ul > li > .content {
  font-size: 15px !important;
  color: #606060;
  line-height: 20px;
}
/* 尾部区域 */
#footer {
  width: 100%;
  background-color: #fff;
}
#footer > .row {
  display: flex;
}
#footer > .row > div {
  flex: 1;
  text-align: center;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
}
#footer > .row > div > a > img {
  height: 15px;
  width: 15px;
}
#footer > p {
  margin: 10px;
  text-align: center;
  font-size: 12px;
}
#footer > p > a:first-child {
  color: red;
}
