@charset "utf-8";
/* CSS Document */
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Microsoft YaHei";
}
html,
body {
  height: 100%;
}
ol,
ul {
  list-style: none;
}
input,
select,
form images,
button {
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
textarea {
  width: 95%;
}
a {
  color: #000;
  text-decoration: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol,
li {
  list-style: none;
}
em,
i {
  font-style: normal;
}
img {
  border: none;
}
input,
img {
  vertical-align: middle;
}
body {
  color: #000;
  font-family: "Microsoft YaHei";
  background: #f1f1f1;
  overflow-x: hidden;
}
/* 头部区域 */
#header {
  background-color: #ff841d;
  height: 50px;
  padding: 10px;
}
#header > .logo > img {
  height: 25px;
}
#header > .app {
  float: right;
}
#header > .app > img {
  height: 34px;
}
/* 搜索区域 */
#search {
  padding: 10px;
  background-color: #fff;
}
#search > form {
  padding-right: 70px;
  position: relative;
}
#search > form > input {
  border-radius: 15px;
  height: 30px;
  border: none;
}
#search > form > input[type="search"] {
  width: 100%;
  background: #f1f1f1;
  padding-left: 20px;
}
#search > form > input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  background: #ff841d;
  color: #fff;
  width: 63px;
}
/* 尾部区域 */
#footer {
  width: 100%;
  background-color: #fff;
}
#footer > .row {
  display: flex;
}
#footer > .row > div {
  flex: 1;
  text-align: center;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
}
#footer > .row > div > a > img {
  height: 15px;
  width: 15px;
}
#footer > p {
  margin: 10px;
  text-align: center;
  font-size: 12px;
}
#footer > p > a:first-child {
  color: red;
}
.title_header {
  background-color: #ff841d;
  height: 50px;
  padding: 10px;
}
.zzh_nav {
  width: 100%;
  background-color: #f1f1f1;
  position: relative;
  padding: 5px 10px;
}
.zzh_nav ul {
  line-height: 30px;
}
.zzh_nav ul li {
  float: left;
}
.zzh_nav ul li a {
  color: #161515;
  font-size: 14px;
}
.zzh_nav ul li i {
  padding-right: 10px;
  font-size: 16px;
}
.zzh_nav .zzh_nav_right {
  float: right;
  border: 1px solid #a8a3a3;
  width: 50px;
  border-radius: 5px;
  height: 30px;
  color: #0e0d0d;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
.zzh_details {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.zzh_details .zzh_details_img a {
  height: 100%;
  display: block;
}
.zzh_details .zzh_details_img a img {
  width: 100%;
  max-width: 160px;
}
.zzh_details .zzh_details_instructions {
  padding-top: 10px;
}
.zzh_details .zzh_details_instructions .zzh_details_text {
  margin: 15px 0px;
  color: black;
}
.zzh_details .zzh_details_instructions .zzh_details_price {
  color: red;
  font-size: 16px;
}
.zzh_details .zzh_details_instructions i {
  color: #666;
  font-size: 14px;
}
.ZZH_Goods_details {
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.ZZH_Goods_details .ZZH_Goods_details_text {
  padding-top: 15px;
  width: 100%;
  text-align: center;
}
.ZZH_Goods_details .ZZH_Goods_details_img {
  width: 100%;
  text-align: center;
  position: relative;
}
.ZZH_Goods_details .ZZH_Goods_details_img :nth-of-type(2) {
  position: absolute;
  right: 0px;
  bottom: 0px;
  float: right;
}
.ZZH_Goods_details .ZZH_Goods_details_price {
  margin-top: 10px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.ZZH_Goods_details .ZZH_Goods_details_price p {
  color: #000000;
}
.ZZH_Goods_details .ZZH_Goods_details_price .goumai {
  background-color: #ff5500;
  text-align: center;
  border-radius: 5px;
  width: 56px;
  height: 24px;
  color: #ffffff;
  line-height: 24px;
  font-size: 14px;
}
.ZZH_Goods_details .goumais {
  width: 100%;
}
.ZZH_Goods_details .product-com-title {
  background-color: #949c98;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.ZZH_Goods_details .product-com-list {
  font-size: 14px;
  color: #666;
}
.ZZH_Goods_details .product-com-list li {
  border-bottom: 1px solid #c7c3c3;
  padding-top: 10px;
}
.ZZH_Goods_details .product-com-list .more {
  margin: 10px;
}
.ZZH_Goods_details .product-com-list .more .morein {
  width: 100%;
  border: 1px solid #ccc;
  display: block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 5px;
}
.bijia .category-title {
  position: relative;
  overflow: hidden;
  font-size: 14px;
}
.bijia .category-title .breadcrumb {
  padding: 8px 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
  overflow: hidden;
  float: left;
}
.bijia .category-title .breadcrumb li {
  float: left;
  margin-right: 10px;
}
.bijia .category-title > a {
  float: right;
  padding: 3px 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 5px;
}
.bijia .bijia_goods {
  background-color: #fff;
  position: relative;
  padding-top: 16px;
}
.bijia .bijia_goods .bijia_goods_title {
  text-align: center;
  font-size: 17px;
  width: 90%;
  margin: 0 auto;
}
.bijia .bijia_goods .bijia_goods_IMG {
  text-align: center;
}
.bijia .bijia_goods .bijia_goods_collect {
  position: absolute;
  right: 20px;
  bottom: 80px;
}
.bijia .bijia_goods .bijia_goods_info {
  font-size: 14px;
}
.bijia .bijia_goods .bijia_goods_info span {
  margin-right: 30px;
}
.bijia .bijia_goods .bijia_goods_info span:last-child {
  float: right;
  margin-right: 0;
}
.bijia .bijia_goods .bijia_goods_tips {
  font-size: 14px;
}
.bijia .product_com_title {
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #dbdbdb;
  font-size: 14px;
  border-top: 1px solid #fff;
}
.bijia .product_com_list ul li {
  font-size: 12px;
  color: #666;
  padding: 10px;
  padding-bottom: 0px;
  line-height: 18px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
