@import "common.less";


    // 面包屑导航
.zzh_nav{
        width: 100%;
        background-color: #f1f1f1;;
        position: relative;
        padding:5px 10px;
        
        ul{
            line-height: 30px;
            li{
                float: left;
                a{
                    color: rgb(22, 21, 21);    
                    font-size: 14px;
                    
                }
                i{
                    padding-right: 10px;
                    font-size: 16px;
                }
                }  
            }
        .zzh_nav_right{
            float: right;
            border: 1px solid rgb(168, 163, 163);
            width: 50px;
            border-radius: 5px;
            height: 30px;
            color: rgb(14, 13, 13);
            text-align: center;
            line-height: 30px;
            font-size: 14px; 
        }
    }

    //商品列表区
.zzh_details{
            width: 100%;
            display: flex;
            background-color: rgb(255, 255, 255);
            padding: 10px;
            border-bottom: 1px solid #ccc;
            .zzh_details_img{
                a{     
                    height: 100%;
                    display: block;
                    img{
                        width: 100%;
                        max-width: 160px;
                    }
                }
                }

            .zzh_details_instructions{
                padding-top: 10px;
                    .zzh_details_text{
                        margin:  15px 0px;
                        color: black;
                    }
                    .zzh_details_price{
                        color: red;
                        font-size: 16px;
                    }
                    i{
                        color: #666;
                        font-size: 14px;
                    }
                }

    }


// 商品详情

.ZZH_Goods_details{
        width: 100%;
        background-color: rgb(255, 255, 255);
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        .ZZH_Goods_details_text{
                padding-top: 15px;
                width: 100%;
                text-align: center;
        }
        .ZZH_Goods_details_img{
        width: 100%;
        text-align: center;
        position: relative;
        :nth-of-type(2){
            position: absolute;
            right: 0px;
            bottom: 0px;
            float: right;   
        }
    }
        .ZZH_Goods_details_price{
        margin-top: 10px;
        justify-content: space-between;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
       
        p{
            color: rgb(0, 0, 0);
        }
        .goumai{
            background-color: #ff5500;
            text-align: center;
            border-radius: 5px;
            width: 56px;
            height: 24px;
            color: rgb(255, 255, 255);
            line-height: 24px;
            font-size: 14px;
       
        }
        

}

        .goumais{
    width: 100%;
}

        .product-com-title{
        background-color: rgb(148, 156, 152);
        width: 100%;
        height: 30px;
        line-height: 30px;
        text-align: center;
            


}

        .product-com-list{
            font-size: 14px;
            color: #666;
           
            li{
                border-bottom: 1px solid rgb(199, 195, 195);
                padding-top: 10px;
            }

            
            .more{
                    margin: 10px;
                .morein{
                    width: 100%;
                    border: 1px solid #ccc;
                    display: block;
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                    border-radius: 5px;
                }
                

                
            }



        }





}



















